* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: var(--bg);
  color: #334155;
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 24px 24px;
}

header {
  text-align: center;
  padding: 4rem 1rem 2rem;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #0f172a;
}

.toolbar {
  max-width: 1200px;
  margin: 0 auto 20px;
  padding: 0 2rem;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.search-wrapper {
  flex: 1;
  position: relative;
  min-width: 250px;
}

.search-wrapper input {
  width: 100%;
  padding: 12px 15px 12px 40px;
  border-radius: 50px;
  border: 1px solid #cbd5e1;
  outline: none;
  transition: 0.3s;
}

.search-wrapper input:focus {
  border-color: var(--primary);
  box-shadow: 0 4px 10px rgba(14, 165, 233, 0.15);
}

.search-wrapper i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #94a3b8;
}

.sort-select {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background: white;
  cursor: pointer;
}

@media (max-width: 650px) {
  header {
    text-align: center;
    padding: 3rem 1rem 2rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .search-wrapper {
    width: 300px;
  }
}
