* {
    margin: 0;
    padding: 0;
}

body {
    background: #abd6f5;
    overflow-x: hidden;
}

.main {
    /* border: 10px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* margin: 20px; */
}

.text {
    text-align: center;
    font-size: 18px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text2 {
    text-align: center;
    font-size: 18px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-container{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.info_main {
    display: flex;
    justify-content: center;
    margin-top: auto;
    /* width: 100%;
    height: 100%; */
}

input,
textarea {

    width: 100%;
    padding: 16px;
    /* margin: 20px 0; */
    border: 1px solid #91c8e4;
    border-radius: 6px;
    font-size: 14px;
    resize: none;
}

.button-container {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-container button {
    height: 50px;
    width: 150px;
    background-color: #4682a9;
    border: none;
    font-size: 15px;
    border-radius: 0.4rem;
}





/* new css */

.outer-container{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
}
.page-inner-container{
    /* border: 2px solid black; */
    border-radius: 8px;
    padding: 0.5rem;
     background: #EAF4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 500px;
}

.form-heading{
    font-size: 2rem;
    font-weight: 500;
    margin: 0.5rem;
}

.form-desc{
    font-size: 1.3rem;
    font-weight: 200;
    margin: 0.5rem;
    text-align: center;
}

.form-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0.5rem;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-field{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
label{
    font-size: 1.3rem;
    margin: 0 0.6rem;

}

input{
    width: 350px;
    margin: 0.2rem 0.5rem;
    font-size: 1rem;
}

.feedback-box{
    height: 50px;
    margin: 0.2rem 0.5rem;
}

.submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    margin: 1rem 0;
    width: 77%;
    border-radius: 6px;
    background: #5395ec;
    border: none;
    font-size: 1.3rem;
    color: beige;
    font-weight: 700;
}

.submit-button:hover{
     background: rgba(72, 136, 220, 0.93);
}