nav {
  background: var(--glass);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 1rem;
}

.logo {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logo img {
  width: 50px;
}

.nav-links button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: 0.2s;
  font-weight: 500;
}

.btn-primary {
  background: var(--primary) !important;
  color: white;
}

#btn-logout {
  background: var(--primary) !important;
  padding: 0.4rem 0.5rem;
}

.hidden {
  display: none !important;
}

@media (max-width: 650px) {
  .logo {
    font-size: 1rem;
  }

  .logo img {
    width: 35px;
  }

  .nav-links button {
    font-size: 0.7rem;
    margin-left: 10px;
    padding: 5px 8px;
    border-radius: 4px;
  }
}
