* {
    margin: 0;
    padding: 0;
}

.image_cont {
    width: 100%;
    height: 90%;
    position: fixed;
    background-image: url(../images/destiny.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 170px 0px 100px 40px;
}

.wltxt {
    padding: 5px;
    font-size: 18px;
    font-family: 'poppins';
}

.title {
    padding: 5px;
    line-height: 50px;
}

.ex_mr {
    background-color: #91C8E4;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.ex_mr a {
    padding-left: 8px;
    /* margin-left: 8px; */
}

.ar_img img {
    height: 20px;
    padding-top: 5px;
}

.footer {
    /* border: 1px solid black; */ 
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background: #63b3ff;
    bottom: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}




@media (max-width:360px) {}