.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  background: white;
  border-radius: 24px;
  max-width: 700px;
  width: 95%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
  border: 1px solid blanchedalmond;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.modal-header-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.modal-body {
  padding: 2rem;
}

.section-title {
  font-weight: 600;
  margin: 25px 0 10px;
  display: flex;
  gap: 8px;
  color: #334155;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.map-container {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 10px;
  border: 1px solid #e2e8f0;
}

@media (max-width: 650px) {
  .modal-content {
    background: white;
    border-radius: 16px;
    width: 90%;
    max-height: 80vh;
    border: 1px solid #d5e2f6;
  }

  .modal-body {
    padding: 1rem;
  }

  .section-title {
    font-weight: 800;
    margin: 25px 10px;
    display: flex;
    gap: 2px;
    color: #343435;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close-modal {
    position: fixed;
    top: 5%;
    right: 8%;
  }

  .close-modal-icon {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 1.5rem;
  }
}

.attractions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 15px;
  margin-top: 15px;
}

.attraction-card {
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
}

.attraction-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.attraction-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.attraction-info {
  padding: 8px;
}

.attraction-name {
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.attraction-desc {
  font-size: 0.75rem;
  color: #64748b;
  line-height: 1.3;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  border-radius: 0.8rem;
  border: none;
}

.close-modal-icon {
  position: absolute;
  background: transparent;
  color: black;
  top: 13px;
  right: 15px;
  font-size: 2rem;
}

#city-attractions,
#url,
#city-desc,
#city-hotels {
  resize: none;
}
